div
{
    font-size: 48px;
    height: 200px;
    width: 400px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}
p
{
  font-size: 24px;
  height: 200px;
  width: 400px;
  text-align: center;
  position: fixed;
  top: 70%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}
a.button
{
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
}
